header.header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
@media only screen and (max-width:484px) {
    #logopombo{
        width: 3em;
        height: 3em;
    }
    .A_nav{
        font-size: .6em;
    }
}

@media only screen and (max-width:325px){
    .A_nav{
        font-size: .3em;
    }
}
#logopombo{

    width: 7em;
    height: 7em;

}


a{
    padding: .4em;
    text-decoration: none;
    color: white;

}






